.header_content{
    width: 100%;
    padding: 10px 0px;
}
.feature_name{
    text-align: center;
}
/* .path{
    text-align: left;
    padding: 10px;
    left: 10px;
} */
.breadcrumb{
    margin: 0px;
}

.header_content hr{
    margin: 0px;
}

.feature_name{
    color: rgb(42, 116, 228);
    font-weight: bold;
    font-size: 2em;
}