.login{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    
}
.form_login{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -webkit-box-shadow: 0px 0px 30px -15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 30px -15px rgba(0,0,0,1);
    box-shadow: 0px 0px 30px -15px rgba(0,0,0,1);
    background: white;
    padding: 20px 20px;
    border-radius: 10px;
}
.title_login{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.btn-login{
    text-align: center;
}
.forgot-password{
    text-align: right;
}
.background_image{
    position: absolute;
    background-image: url(/static/media/background.2b44178c.jpg);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    left: 0px;
    right: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spinner-border{
    position: absolute;
}